<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/style.css")
    title クイズ
  body
  #sleep.sleep
    img#sleepy(src="./img/sleep.jpg")

  .content
    img(src="./img/hituji.jpg")
    canvas#myCanvas(width="400" height="200")

    canvas#ans1(width="200" height="70")
    canvas#ans2(width="200" height="70")
    canvas#ans3(width="200" height="70")
    .sheep
      img#sheep1.sheep1(src="./img/kohituji.jpg")
      img#sheep2.sheep2(src="./img/kohituji.jpg")
      img#sheep3.sheep3(src="./img/kohituji.jpg")

    .count#count: p カウントを始める
    

    script(src="./js/jquery-2.1.3.min.js")
    script(src="./js/aiueo.js")
    
      
